body {
	margin: 0;
	font: normal 100 .8em/1.4 'Fira Code', monospace;
	background: #111;
	background-image: linear-gradient(#000000a0, #000000a0),
		url(https://storage.googleapis.com/nasdaqcomponents/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg);
	background-attachment: fixed;
	background-size: cover;
	object-fit: contain;
	color: #fff;
}

ta-table {
	color: #f00;
	margin: 1em;
	display: table;
	border: none;
	border-collapse: collapse;	
	background-color: #00008020;
}

ta-head,
ta-right,
ta-cell {
	color: #fff;
	display: table-cell;
	padding: 0.5em 1em;	
	border-bottom: solid 0.5px #fff;
}	
ta-head {
	font-weight: 500;
	background-color: #ff000040;
}
ta-row {
	display: table-row;
}
ta-right {
	text-align: right;
}
svg {
	display: none;
	visibility: hidden;
}