body {
  margin: 0;
  padding: 0;  
  font-family: "IBM Plex Sans";
}
div {
  float: left;
}
h1 {
  color: #fff;
  margin: 1em 0 0 0;
  font-family: "Black Ops One";
  text-align: left;
  letter-spacing: 0.2em;
  font-weight: normal;
}
h3 {
  color: #fff;
  margin: 0.5em 0 0 0;
  text-align: left;  
  font-weight: normal;  
}
h3::before {
  content: "➽ ";
}
h5 {
  color: #fff;
  margin: .3em 0 0 0;
  text-align: left;
  font-weight: lighter ;  
  letter-spacing: 0.33em;
}
h5::before {
  content: "✑ ";
}
p {
  font-weight: lighter;
  margin: 0;
  white-space: pre-line;
  float: left;
  hyphens: auto;
}
#zoutside {
  visibility: hidden;
  display: none;
}
.w50 {
  width: 50%;
  float: left;
}
#zlibrary {
  width: 100%;
  height: 1200%;
  font-size: 1em;
}
#taBody {
  margin: 0;
  padding: 0;  
  margin-left: 5vw;
  background-color: #000;
  background-attachment: fixed;
  background-size: contain;
  background-position: right;
  background-clip: content-box;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'IBM Plex Sans';
}

#zmain {
   margin-right: 3vw;
}
svg {
  font-size:0.6667em ;
}